/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/******* general *******/
body {
	max-width: 1140px;
	height: auto;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}
/******* header *******/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
header .nav{
	display: flex;
	flex-direction: row;
}
.header_nav{
	margin-left: 480px;
}
header li{
	margin-left: 45px;
	
}
header li img{
	width: 19.36px;
	height: 19.36px;
}
header a{
	text-decoration: none;
	color: black;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
li a:hover{
	color: #B1663C;
}
/******* introduction *******/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1.5;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	margin-bottom: 70px;
}
#introduction h2 {
	margin-bottom: 1em;
	margin-top: 1em;
}

#introduction p {
	margin-bottom: 1.5em;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
}
#portfolio{
	margin-left: 57px;
	margin-top: 139px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
/******* filter *******/
.filter{
	transform-origin: 0% 50%;
	animation: openwork 0.3S ease-in-out  backwards;
}
.filter form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 51px auto;
	gap: 10px;
}
.filter label{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: auto;
	height: 37px;
	font-weight: 700;
	font-size: 16px;
	padding: 0px 37px;
	border: solid 1px #1D6154;
	border-radius: 60px;
	color: #1D6154;
	background-color: white;
	cursor: pointer;	
}
.filter label:hover{
	color: white;
	background-color: #0E2F28;
	box-shadow:0px 6px 4px rgba(0, 0, 0, 0.15);
	
}
.filter input{
	display: none;
}
.filter input[type = "radio"]:checked +label{
	color: white;
	background-color: #1D6154;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
	
}
/******* gallery *******/
.gallery {
	width: 100%;
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
.gallery figure{
	transform-origin: 0% 50%;
	animation: openwork 0.3S ease-in-out backwards;
}

@keyframes openwork {
	from {
	  transform: scaleX(0);
	}
	to {
	  transform: scaleX(1);
	}
  }
.gallery figcaption{
	font-weight: 400;
	font-size: 13px;
	line-height: 15.25px;
}
/******* contact *******/
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
input[type = "submit"]:hover{
	background-color: #0E2F28;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
}
/******* footer *******/
footer{
	background: #FFFFFF;
	margin-right: -20%;
	margin-left: -20%;
	height: 60px;
}
footer nav{
	padding-right: 12%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}
footer nav li{
	margin-top: 24px;
	font-weight: 300;
	font-size: 14px;
}
/********* login ********/

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login a{
	color: #3D3D3D;
}
.login h2{
	margin: 150px auto 37px;
}
.form_login{
	display: flex;
	flex-direction: column;
}
.form_login input{
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 7px auto 30px;
	border: none;
	outline: none;
}
#mail_log, #password_log{
	background: #FFFFFF;
}
.form_login input[type = "submit"]{
	width: 179px;
	height: 36px;
	cursor: pointer;
	
}
.error_message{
	color: red;
	margin-top: -20px;
	margin-bottom: 15px;
	display: none;
}
.footer_login{
	margin-right: -20%;
	margin-left: -20%;
	margin-top: 355px;
}
.footer_login nav{
	padding-right: 12%;
}
/******* edit *******/
.header_edit{
	display: flex;
	flex-direction: column;
}
.edit_title-nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.edit_bannier{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 21px;
	position: relative;
	top: -50px;
	background: black;
	color: white;
	width: 150%;
	height: 59px;
	margin-left: -25%;
}
.edit_button{
	width: 216px;
	height: 38px;
	font-weight: 500;
	font-size: 14px;
	border: none;
	border-radius: 60px;
	background-color: #FFFFFF;
	color: black;
	cursor: pointer;
}
#introduction figure i{
	text-decoration: none;
	font-size: 15px;
	color: #000000;
	margin: 16px 8px 0 70px;
}
#introduction figure span{
	font-weight: 400;
	font-size: 14px;
	line-height: 47px;
	color: #000000;
}
#introduction figure a{
	text-decoration: none;
}
#introduction article i{
	text-decoration: none;
	font-size: 15px;
	color: #000000;
	margin: -8px 8px 0px 0px;
}
#introduction article span{
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5px;
	color: #000000;
}
#introduction article a{
	text-decoration: none;
}
#portfolio .edit_h2{
	margin-left: 135px;
	margin-bottom: 92px;
	
}
#portfolio h2 i{
	font-size: 15px;
	color: #000000;
	margin-left: 34.64px;
	margin-right: 8px;
}
#portfolio h2 span{
	font-weight: 400;
	font-size: 14px;
	line-height: 16.42px;
	color: #000000;
}
#portfolio h2 a{
	text-decoration: none;
}
/******* modal *******/
.modal-container{
	position: fixed;
	top: 0;
	right: -5%;
	width: 105%;
	height: 100vh;
	margin-left: -16%;
	visibility: hidden;
	transition: visibility 0.4s;
}
.modal-container.active{
	visibility: visible;
}
.overlay{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay{
	opacity: 1;
	transition: opacity 0.4s ease-out;

}
.modal{
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	max-width: 630px;
	min-width: 300px;
	border-radius: 10px;
	padding: 48px;
	background: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.2s ease-out;
}
.modal-container.active .modal{
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 0.4s 0.2s ease-out;
}
.modal h1{
	font-family: "Work",sans-serif;
	font-weight: 400;
	font-size: 26px;
	line-height: 30.5px;
	color: #000000;
	margin-top: 12px;
	margin-bottom: 46px;
}
.gallery-modal{
	margin: 0 57.25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
	gap: 6px;
}
.gallery-modal figure > img{
	width: 78px;
	height: 104px;
}
.delete-btn{
	padding: 4px;
	font-size: 9px;
	background-color: #000000;
	color: #FFFFFF;
	border: none;
	position: relative;
	top: -102px;
	right: -25px;
	cursor: pointer;
}
.gallery-modal figure > figcaption{
	font-weight: 400;
	font-size: 12px;
	line-height: 14.08px;
}
.close-modal{
	font-weight: bold;
	padding: 8px 10px;
	border: none;
	font-size: 16px;
	position: absolute;
	top: 32px;
	right: 36px;
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
}
.modal .add-pics{
	width: 37.6%;
	height: 36px;
	border: none;
}
.modal a{
	color: red;
}
/****** modal add ******/
.modal-add{
	display: flex;
	flex-direction: column;
	margin: 0 105px;
	gap: 10px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
}
.file-input{
	display: flex;
	flex-direction: column;
	background: #E8F1F6;
	width: 420px;
	height: 169px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 30px;
}
.fa-image{
	font-size: 58px;
	height: 46px;
	margin-top: 28px;
	margin-bottom: 21px;
	color: #B9C5CC;
	-webkit-text-stroke: thin;
	-webkit-text-fill-color: transparent;
}
.file-input h4{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 36px;
	margin-bottom: 7px;
	background-color: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	border: none;
	border-radius: 50px;
}
.file-input p{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 10px;
	line-height: 11.73px;
	color: #444444;
}
#file-input{
	display: none;
}
#title_work-input, .modal-add select{
	width: 420px;
	height: 51px;
	margin-bottom: 21px;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 16.42px;
	border-radius: 10px;
	border: none;
	outline: none;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
}
.arrow-left{
	position: absolute;
	top: 37px;
	left: 30px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.arrow-left i{
	color: #000000;
	font-size: initial;
}